body{
	font-family: Arial,sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.welcome{
	width: 25%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td{
	border-width: 1px;
	border-bottom-style: solid;
	border-color: black;
	vertical-align: middle;
	padding-top: 10px;
	padding-bottom: 10px;
}

.noHighlight{
	border-width: 0px;
}

th{
	border-width: 1px;
	border-bottom-style:solid;
	border-color: gray;
	text-align: center;
}

td img{
	width: 100px;
}

.alone{
	width: 500px;
}

h6{
	color: #0066c0;
	font-size: 18px;
	margin-bottom: 2px;
	font-weight: bold;
}

h6 a:link{
	text-decoration: none;
	color: #0066c0;
}

h6 a:visited{
	color: #0066c0;
}

.prix{
	color: #b12704!important;
	font-weight: bold;
	text-align: center;
}

.qte{
	text-align:center;
}

.ok{
	width: 180px;
	height: 30px;
	background-color: #f0c14b;
	border-color: #a88734 #9c7e31 #846a29;
	background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	box-sizing: border-box;
	border-radius: 3px;
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	cursor: auto;
}

nav{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-top: none;
  border-left: none;
  border-right: none;
}

nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #333;
}

nav li{
  float: left;
}

nav li:hover{
  background-color: grey;
}


nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
}

#logo{
	background-color: #0B0B0B;
	height: 60px;
}

#logo a{
	text-decoration: none;
}

#logo img{
	width: 50px;
	position: absolute;
	padding-top: 3px;
	padding-left: 15px;
}

#logo h1{
	color: white;
	padding-top: 13px;
	padding-left: 68px;
}

.loginBar{
	position: absolute;
	float: left;
	padding: 5px 5px 0px 5px;
	margin: 0;
	right: 5px;
	top: 0px;
	color: white;
	border-color: white;
	border-width: 1px;
	border-style: solid;
	border-top-width: 0px;
	box-sizing: border-box;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #727272;
}

.loginBar form{
	padding: 0;
	margin: 0px 0px 5px 0px;
}

.login{
	background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
	border-width: 1px;
	border-style: black;

}

.loginBar ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.loginBar li{
	display: inline;
}

.normal{
	background-color: white;
	background: white;
	border-color: black;
	box-sizing: border-box;
	border-radius: 3px;
	vertical-align: middle;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	cursor: auto;
}

.action{
	text-align:center;
}

header{
	margin-bottom: 10px;
}

.pointer{
	cursor:pointer;
}

.categorie{
	text-align: center;
}

.note{
	text-align:center;
}

.action{
	text-align:center;
}

.note_star{
	width: 15px;
	height: 15px;
	cursor:pointer;
}

th a{
	color: black;
	text-decoration: none;
}

@-moz-document url-prefix(){
	body{
		margin-top:-21px;
	}
}
